@{
    ViewData["Title"] = "Solution";
}
<h1 xmlns="http://www.w3.org/1999/html">@ViewData["Title"]</h1>

<div>
    <p>Welcome to my solution for the job interview problem!</p> 
    
    <p>Below, you'll find links to the GitHub repository, REST API, and test credentials to explore the implementation. Feel free to review the code and interact with the solution.</p>

    <ul>
        <li><a href="https://github.com/markokostelic/HotelSearch" target="_blank">GitHub Repository</a></li>
        <li><a href="https://hotels-api.mdotnet.eu/swagger/index.html" target="_blank">API Solution</a></li>
    </ul>
    
    
    
    <p>Registered users for testing:</p>
    <ul>
        <li><b>Username:</b> Admin@email.com --> <b>Password:</b> Admin123#</li>
        <li><b>Username:</b> User@email.com --> <b>Password:</b> User123#</li>
    </ul>
    
    
</div>